<p style="align: center;"><img src="https://static.tildacdn.com/tild6636-3531-4239-b465-376364646465/Deep_Learning_School.png", width=600, height=300></p>

<h3 style="text-align: center;"><b>Физтех-Школа Прикладной математики и информатики (ФПМИ) МФТИ</b></h3>

<h2 style="text-align: center;"><b>Библиотека <a href="http://pandas.pydata.org/">pandas</a>: домашнее задание</b></h2>

Перед этим заданием необходимо просмотреть и прорешать соответствующий семинар. Он полезный, правда!

In [1]:
#!pip install pandas

In [2]:
import pandas as pd
import numpy as np

<img src="http://www.keepcalmstudio.com/_gallery/1500/kcs_dd487f3f.png" width=300 height=300>

### Датасет на гугл диске с заданием

In [3]:
data = pd.read_csv('./black-friday/BlackFriday.csv')

Посмотрим, что же такое переменная `data`:

In [5]:
data.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [6]:
type(data)

pandas.core.frame.DataFrame

---

#### Вопрос

О чём данные? (Hint: https://www.kaggle.com/mehdidag/black-friday/home)

---

#### Основное задание (в тесте надо будет вставлять ответы для этих пунктов):

*Примечание:* не бойтесь гуглить и заглядывать в "Полезные ссылки" для того, чтобы выполнить какие-то задания. Возможно, на семинаре не было какого-то нужного метода, но он находится в поисковике за 2 минуты.

**0).** Сколько всего возрастных категорий?

In [8]:
data['Age'].nunique()

7

In [9]:
data['Age'].value_counts()

26-35    214690
36-45    107499
18-25     97634
46-50     44526
51-55     37618
55+       20903
0-17      14707
Name: Age, dtype: int64

**1).** Сколько строк с мужчинами из категории города A? (речь не об уникальных ID мужчин, а о количестве строк)

In [12]:
data[(data['City_Category'] == 'A') & (data['Gender'] == 'M')].head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871
10,1000005,P00251242,M,26-35,20,A,1,1,5,11.0,NaN,5254
11,1000005,P00014542,M,26-35,20,A,1,1,8,NaN,NaN,3957
12,1000005,P00031342,M,26-35,20,A,1,1,8,NaN,NaN,6073

In [13]:
data[(data['City_Category'] == 'A') & (data['Gender'] == 'M')].shape

(109831, 12)

**2).** Сколько женщин от 46 до 50, потративших (столбец Purchase) больше 20000 (условных единиц, в данном случае)?   (речь не об уникальных ID, а о количестве строк)

In [15]:
data[(data['Gender'] == 'F') & (data['Age'] == '46-50') & (data['Purchase'] > 20000)].shape

(270, 12)

**3).** Сколько NaN'ов в столбце Product_Category_3?

In [18]:
data[data['Product_Category_3'].isna()].shape

(373299, 12)

**4).** Какую долю (вещественное число от 0 до 1, округлить до 4-го знака) от всех покупателей составляют ВМЕСТЕ мужчины от 26 до 35 лет и женщины старше 36 лет (то есть нужно учесть несколько возрастных категорий)? (речь не об уникальных ID, а о количестве таких строк)

In [26]:
first = data[(data['Age'] == '26-35') & (data['Gender'] == 'M')].shape
second = data[(data['Gender'] == 'F') & (data['Age'].apply(lambda x: int(x[0]) >= 3))].shape
print(first, second)
print((first[0] + second[0]) / data.shape[0])

(165342, 12) (53839, 12)
0.4077201963625676

---

Больше про pandas можно найти по этом полезным ссылкам:

* Официальные туториалы: http://pandas.pydata.org/pandas-docs/stable/tutorials.html

* Статья на Хабре от [OpenDataScience сообщества](http://ods.ai/)**:** https://habr.com/company/ods/blog/322626/

* Подробный гайд: https://media.readthedocs.org/pdf/pandasguide/latest/pandasguide.pdf

Главное в работе с новыми библиотеками -- не бояться тыкать в разные функции, смотреть типы возвращаемых объектов и активно пользоваться Яндексом, а ещё лучше понимать всё из docstring'а (`Shift+Tab` при нахождении курсора внутри скобок функции).